body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card{
    display: block;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    
}
#img{
    width:27vw;
}
#title{
    font-weight: bolder;
    font-size: 2em;
}