body{
    text-align: center;
}
h1{
    color: blue;    
}

#facebook-button{
    background-color: #3b5998;
    color: white;
    border:none;
    border-radius: 5px;
    padding:25px;
    margin: 15px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}

#twitter-button{
    background-color: black;
    color:white;
    border:none;
    border-radius: 5px;
    padding:25px;
    margin: 15px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;

}